logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
!database/migrations/*.js
!database/seeders/*.js
!database/*.js
.env*
!app/public/assets/js/*.js
!app/public/src/js/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
data/mysql

api-docs/public/json